@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-50 {
  -ms-flex: 50%;
    flex: 50%;
  }
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
    margin: 10rem 36rem 10rem 36rem;
  }
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  .divv {
    position: relative;
    width: auto;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 0px 12px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  label {
    margin-bottom: 10px;
    display: block;
  }
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  .btn {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  .btn:hover {
    background-color: red;
  }
  span.price {
    float: right;
    color: grey;
  }
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  @media only screen and (max-width: 640px) {
    .col-75{ 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin: 10px 20px;
      padding: 0;
    }
  }
  